.menu-item__delay-0 {
  animation-duration: 1000ms;
  animation-delay: 0s;
  animation-name: appear ,trans;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.menu-item__delay-1 {
  animation-duration: 1000ms;
  animation-delay: 0200ms;
  animation-name: appear ,trans;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.menu-item__delay-2 {
  animation-duration: 1000ms;
  animation-delay: 0400ms;
  animation-name: appear ,trans;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.menu-item__delay-3 {
  animation-duration: 1000ms;
  animation-delay: 0600ms;
  animation-name: appear ,trans;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes trans {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
}
}