@mixin button-color1 {
  border: 0;
  background: linear-gradient(168deg, $secondary, $primary);
  box-shadow: 0px 7px 6px #beb7b7;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  width: 219px;
  height: 46px;
  font-size: 16px;
  &:hover {
    background-color: lighten($primary, 10%);
    background-blend-mode: lighten;
    box-shadow: 0px 7px 6px #aca2a2;
  }
}
@mixin button-color1--menu {
  border: 0;
  background: linear-gradient(168deg, $secondary, $primary);
  box-shadow: 0px 7px 6px #beb7b7;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  width: 175px;
  height: 46px;
  font-size: 16px;
  &:hover {
    background-color: lighten($primary, 10%);
    background-blend-mode: lighten;
    box-shadow: 0px 7px 6px #aca2a2;
  }
}
@mixin button-nav {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
@mixin menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border-radius: 15px;
  background-color: white;
  height: 60px;
  box-shadow: 0px 10px 8px #ebebeb;
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
}
@mixin menu-title {
  font-size: 15px;
  font-weight: normal;
  display: flex;
}
@mixin hearth {
  align-self: flex-end;
  border: none;
  background-color: white;
  position: absolute;
  right: 15px;
  cursor: pointer;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 25px;
}
@mixin hearth--menu {
  align-self: flex-end;
  border: none;
  background-color: $quaternary;
  position: relative;
  right: 6px;
  cursor: pointer;
  top: 6px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 45px;
  font-size: 25px;
}
@mixin fill {
  &:hover .fill.fas.fa-heart {
    transition: opacity 1s;
    opacity: 1;
    background-image: linear-gradient(
      to left,
      #9356dc,
      #b35cdc,
      #cf64dc,
      #e86edb,
      #ff79da
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
@mixin empty {
  &:hover .far.fa-heart {
    transition: opacity 1s;
    opacity: 0;
  }
}
@mixin slide {
  margin-right: 0px;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    transition: margin-right 1000ms;
    margin-right: 100px;
  }
  &:hover .menu-item__icon {
    transform: rotate(360deg);
  }
}
@mixin check-rotate {
  &:hover + .menu-item__icon {
    transform: rotate(360deg);
  }
  .menu-item__icon {
    transform: rotate(0);
    transition: rotate, 1500ms;
  }
}
@mixin tablet {
}
@mixin desktop-homepage {
  @media screen and (min-width: 1280px) {
    .nav .nav__title {
      margin: 40px 0px 20px 70px;
    }
    .nav .nav__list {
      padding: 0;
      display: flex;
      flex-direction: row;
      height: 100px;
      justify-content: space-around;
      margin: 0;
      align-items: center;
      .nav-item {
        width: 25%;
      }
    }
    .main-container {
      height: 900px;
      justify-content: center;
      .main__title {
        margin: 20px 0px 20px 70px;
      }
      .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        .card {
          width: 40%;
          background-color: white;
          border-radius: 15px;
          height: 35%;
          display: flex;
          flex-direction: column;
          box-shadow: 0px 10px 8px #ebebeb;
        }
      }
    }
    footer {
      .footer-container {
        display: flex;
        align-items: center;
        .footer-container__list {
          display: flex;
          height: 76%;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
@mixin desktop-menu {
  @media screen and (min-width: 1280px) {
    .loader {
      width: 200px;
      height: 200px;
      top: 20%;
      left: 42%;
    }
    .menu-picture {
      position: relative;
      height: 229px;
    }
    .main {
      display: flex;
      flex-direction: column;
      height: 700px;
      justify-content: space-between;
      .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .menu-item__delay-3 {
          display: flex;
          align-self: flex-end;
        }
        .menu-item__delay-0,
        .menu-item__delay-1,
        .menu-item__delay-2,
        .menu-item__delay-3 {
          width: 25%;
          .menu-item__text {
            width: 90%;
          }
        }
      }
    }
    footer {
      .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
        width: auto;
        padding: 20px;
      }
    }
  }
}
