@mixin button-color1 {
  border: 0;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  color: white;
  cursor: pointer;
}
@mixin button-nav {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
