@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900 & affichage=échange");
footer {
  background-color: #353535;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}
footer .footer-container a {
  color: white;
}
footer .footer-container .footer-container__title {
  color: white;
  margin-left: 20px;
}
footer .footer-container .footer-container__list {
  display: flex;
  padding: 0;
  margin: 0px 0px 0px 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  list-style-type: none;
}

h1 {
  font-size: large;
}

header {
  font-size: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__logo {
  width: 36%;
  height: auto;
  margin-bottom: 20px;
}
.header .header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 295px;
  background-color: #f6f6f6;
  justify-content: space-between;
}
.header .header__container .header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: 1px -3px 3px #dbdbdb;
}
.header .header__container .header__location .location-text {
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}
.header .header__title {
  text-align: center;
  width: 77%;
  font-size: 22px;
  margin-bottom: 0;
}
.header .header__subtitle {
  width: 81%;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
}
.header .explore-restaurant {
  border-radius: 30px;
  width: 219px;
  height: 46px;
  font-size: 16px;
  border: 0;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  color: white;
  cursor: pointer;
  margin-bottom: 45px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav .nav__title {
  font-size: 22px;
  margin: 40px 0px 20px 20px;
}
.nav .nav__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}
.nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 3px 8px #e6e6e6;
  width: 90%;
  height: 70px;
}
.nav .nav-item .fa-mobile-alt:before {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
.nav .nav-item .fa-list-ul:before {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
.nav .nav-item .fa-store:before {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
.nav .nav-item .nav-item__text {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 1320px;
  justify-content: flex-start;
  margin-top: 50px;
}
.main-container .main__title {
  margin: 40px 0px 20px 15px;
  height: auto;
}
.main-container .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}
.main-container .cards .card {
  width: 92%;
  background-color: white;
  border-radius: 15px;
  height: 23%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 8px #ebebeb;
}
.main-container .cards .card__picture {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.main-container .cards .card__badge {
  font-size: 15px;
  font-weight: bold;
  border: solid 1px transparent;
  background-color: #99e2d0;
  color: #2c9c81;
  position: absolute;
  margin: 15px 0px 0px -105px;
  padding: 6px 14px;
  border-radius: 3px;
}
.main-container .cards .card__container_txt {
  margin-top: 10px;
  margin-left: 15px;
  color: black;
}
.main-container .cards .card__container_txt .card__title {
  margin: 0;
}
.main-container .cards .card__container_txt .card__subtitle {
  margin: 0;
}
.main-container .button__hearth {
  font-size: 25px;
  border: none;
  background-color: transparent;
  position: absolute;
  margin: 220px 0px 0px 265px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
