@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900 & affichage=échange");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #99e2d0;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  opacity: 0;
  display: block;
  animation-name: spin, fadeout;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  position: absolute;
  top: 25%;
  left: 30%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
footer {
  background-color: #353535;
  position: relative;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 200px;
  width: 100%;
}
footer .footer-container a {
  color: white;
}
footer .footer-container .footer-container__title {
  color: white;
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 17px;
}
footer .footer-container .footer-container__list {
  display: flex;
  padding: 0;
  margin: 0px 0px 20px 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  list-style-type: none;
}

.header__container--arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: 5px;
}
.header__container--arrow .header__logo--arrow {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  font-size: 30px;
}
.header__container--arrow .fa-arrow-left:before {
  content: "\f060";
  font-size: 18px;
  position: absolute;
  left: 18px;
  top: 13px;
  text-decoration: none;
  color: black;
}

.menu-picture {
  position: relative;
  height: 200px;
}
.menu-picture .card__picture--restaurant {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: absolute;
}

.main {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  padding: 15px;
}
.main .menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .menu-header .menu-header__title {
  font-size: 32px;
  margin-bottom: 0;
  margin-top: 12px;
  font-family: "Shrikhand", sans-serif;
}
.main .menu-header .button__hearth--menu {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 25px;
  margin-top: 18px;
  margin-right: 10px;
}
.main .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .menu-container .menu__title {
  margin: 20px 0px 10px 0px;
  font-size: 15px;
  font-weight: normal;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  padding-bottom: 3px;
}
.main .menu-container .menu-item__delay-0,
.main .menu-container .menu-item__delay-1,
.main .menu-container .menu-item__delay-2,
.main .menu-container .menu-item__delay-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  height: 60px;
  box-shadow: 0px 10px 8px #ebebeb;
  margin-bottom: 15px;
}
.main .menu-container .menu-item__delay-0 .menu-item__header,
.main .menu-container .menu-item__delay-1 .menu-item__header,
.main .menu-container .menu-item__delay-2 .menu-item__header,
.main .menu-container .menu-item__delay-3 .menu-item__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 60%;
}
.main .menu-container .menu-item__delay-0 .menu-item__price,
.main .menu-container .menu-item__delay-1 .menu-item__price,
.main .menu-container .menu-item__delay-2 .menu-item__price,
.main .menu-container .menu-item__delay-3 .menu-item__price {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
}
.main .menu-container .menu-item__delay-0 .menu-item__confirmation,
.main .menu-container .menu-item__delay-1 .menu-item__confirmation,
.main .menu-container .menu-item__delay-2 .menu-item__confirmation,
.main .menu-container .menu-item__delay-3 .menu-item__confirmation {
  display: flex;
  align-items: center;
  display: none;
}
.main .menu-container .menu-item__delay-0 .menu-item__title,
.main .menu-container .menu-item__delay-1 .menu-item__title,
.main .menu-container .menu-item__delay-2 .menu-item__title,
.main .menu-container .menu-item__delay-3 .menu-item__title {
  margin: 0px 0px 4px 0px;
  font-weight: bold;
  font-size: 14px;
}
.main .menu-container .menu-item__delay-0 .menu-item__description,
.main .menu-container .menu-item__delay-1 .menu-item__description,
.main .menu-container .menu-item__delay-2 .menu-item__description,
.main .menu-container .menu-item__delay-3 .menu-item__description {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
}
.main .order-btn {
  display: flex;
  justify-content: space-evenly;
  height: 130px;
  align-items: center;
}
.main .order-btn .order {
  border: 0;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  width: 175px;
  height: 46px;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__logo {
  width: 36%;
  height: auto;
  margin-bottom: 20px;
}
.header .header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 295px;
  background-color: #f6f6f6;
  justify-content: space-between;
}
.header .header__container .header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: 1px -3px 3px #dbdbdb;
}
.header .header__container .header__location .location-text {
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}
.header .header__title {
  text-align: center;
  width: 77%;
  font-size: 22px;
  margin-bottom: 0;
}
.header .header__subtitle {
  width: 81%;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
}
.header .explore-restaurant {
  border: 0;
  background: linear-gradient(168deg, #ff79da, #9356dc);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  width: 219px;
  height: 46px;
  font-size: 16px;
  margin-bottom: 45px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav .nav__title {
  font-size: 22px;
  margin: 40px 0px 20px 20px;
}
.nav .nav__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}
.nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 3px 8px #e6e6e6;
  width: 90%;
  height: 70px;
  position: relative;
}
.nav .nav-item .nav-item__number {
  position: absolute;
  top: 14px;
  font-size: 10px;
  left: -12px;
  color: white;
  background: #9356dc;
  border: solid 1px transparent;
  border-radius: 25px;
  padding: 4px 7px 4px 7px;
}
.nav .nav-item .fa-mobile-alt:before {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
.nav .nav-item .fa-list-ul:before {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
.nav .nav-item .fa-store:before {
  padding: 0px 20px 0px 25px;
  color: #7e7e7e;
}
.nav .nav-item .nav-item__text {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 1320px;
  justify-content: flex-start;
  margin-top: 50px;
}
.main-container .main__title {
  margin: 40px 0px 20px 15px;
  height: auto;
}
.main-container .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}
.main-container .cards .card {
  width: 92%;
  background-color: white;
  border-radius: 15px;
  height: 23%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 8px #ebebeb;
}
.main-container .cards .card__container_img {
  position: relative;
}
.main-container .cards .card__container_img .card__picture {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.main-container .cards .card__container_img .card__badge {
  font-size: 15px;
  font-weight: bold;
  border: solid 1px transparent;
  background-color: #99e2d0;
  color: #2c9c81;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 6px 14px;
  border-radius: 3px;
}
.main-container .cards .card__container_txt {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 15px;
  color: black;
  position: relative;
}
.main-container .cards .card__container_txt .card__title {
  margin: 0;
}
.main-container .cards .card__container_txt .card__subtitle {
  margin: 0;
}
.main-container .button__hearth {
  font-size: 25px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}
.main-container .button__hearth a:active {
  color: red;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body h1 {
  font-size: large;
}
body a {
  text-decoration: none;
}
body p, body h2, body h3, body h4 {
  font-family: "Roboto", sans-serif;
}
body header {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
