@import "../utils/_variable.scss";
footer {
  background-color: #353535;
  position: relative;
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    padding: 20px;
    a {
      color: white;
    }
    .footer-container__title {
      color: white;
      margin: 0;
      margin-bottom: 10px;
      font-family: "Shrikhand", sans-serif;
      font-size: 17px;
      margin-bottom: 10px;
    }
    .footer-container__list {
      display: flex;
      padding: 0;
      margin: 0;
      flex-direction: column;
      justify-content: space-between;
      height: 60%;
      list-style-type: none;
        .fa-utensils {
          width: 25px;
        }
        .fa-hands-helping{
          width: 25px;
        }
    }
  }
}
